@import "./mixin.scss";
@import "./config.scss";

.wmodal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  &-bgc {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $text-color-black;
    opacity: 0.4;
  }

  &-main {
    min-width: 50vw;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: $background-color-write;
    border-radius: 3px;
  }

  &-content {
    @include px2rem('padding', 40px 68px);
    @include font(24px);

    font-family: 'PingFangSC-Regular';
    color: #383838;
    letter-spacing: 0;
    text-align: center;
    line-height: 1.3;
  }

  &-btnGroup {
    display: flex;
    justify-content: space-between;

    @include border(1px, #f0f0f8, top);

    &-left,
    &-right {
      @include height(70px,70px);
      @include font(24px);

      font-family: 'PingFangSC-Regular';
      font-size: 12px;
      letter-spacing: 0;
      text-align: center;
      flex: 1;
      color: #666;
    }

    &-left {
      @include border(1px, #f0f0f8, right);

      color: #0297fe;
    }
  }
}
